<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BingMapAppSDK" version="1.0.1011.1716" targetFramework="win80" />
  <package id="BingMapJS" version="1.1.0" targetFramework="win80" />
  <package id="BingMapsIntellisense_6" version="6.3.81310.1036" targetFramework="win80" />
  <package id="jQuery" version="2.0.3" targetFramework="win80" />
  <package id="knockoutjs" version="2.3.0" targetFramework="win80" />
  <package id="Modernizr" version="2.6.2" targetFramework="win80" />
</packages>